#logoabeja {
transition:All 1s ease;
-webkit-transition:All 1s ease;
-moz-transition:All 1s ease;
-o-transition:All 1s ease;
transform: rotate(4deg) scale(1) skew(1deg) translate(10px);
-webkit-transform: rotate(4deg) scale(1) skew(1deg) translate(10px);
-moz-transform: rotate(4deg) scale(1) skew(1deg) translate(10px);
-o-transform: rotate(4deg) scale(1) skew(1deg) translate(10px);
-ms-transform: rotate(4deg) scale(1) skew(1deg) translate(10px);
}
#logoabeja:hover{
transform: rotate(0deg) scale(1) skew(-13deg) translate(0px);
-webkit-transform: rotate(0deg) scale(1) skew(-13deg) translate(0px);
-moz-transform: rotate(0deg) scale(1) skew(-13deg) translate(0px);
-o-transform: rotate(0deg) scale(1) skew(-13deg) translate(0px);
-ms-transform: rotate(0deg) scale(1) skew(-13deg) translate(0px);
}

#divcontenedor{
	background-color: #FFF;
}

body{
	background: linear-gradient(rgba(47, 23, 15, 0.65), rgba(47, 23, 15, 0.65)), url("../img/bg2.jpg");
}

#divpaypal{
	text-align: center;
}

#paypal{
	border-radius: 5px;
}

#paypal:hover{
	border-radius: 5px;
	height: 105px;
	width: 125px;
}



